@tailwind base;
  @tailwind components;
  @tailwind utilities;

@layer base {
  :root {
    --background: 268 55% 13%;
    --foreground: 268 55% 87%;
    --card: 268 55% 13%;
    --card-foreground: 268 55% 87%;
    --popover: 268 55% 13%;
    --popover-foreground: 268 55% 87%;
    --primary: 330 100% 40%;
    --primary-foreground: 268 55% 13%;
    --secondary: 302 100% 29%;
    --secondary-foreground: 268 55% 87%;
    --muted: 268 55% 80%;
    --muted-foreground: 268 55% 87%;
    --accent: 252 68% 47%;
    --accent-foreground: 268 55% 87%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 269 57% 10%;
    --border: 268 55% 60%;
    --input: 268 55% 80%;
    --ring: 252 68% 60%;
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }